[Desktop Entry]
Type=Application
Exec=synclient TapButton3=0 ClickFinger3=0
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Synaptics synclient
Name=Synaptics
Comment[en_US]=synclient startup settings for button3 (Workaround)
Comment=synclient settings for button3
